<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link rel="stylesheet" href="style.css">
    </head>
    <body>
<div class="app">
<div class="bg"></div>
<form action="">
    <header>
<img src="icon.webp" alt="">
    </header>
   <div class="inputs">
<input type="text" placeholder="Username">
<input type="password" placeholder="Password">
<p class="light"><a href="#">Forget Password?</a></p>
   </div>
   </form>
    <footer>
    <button>Continue</button>
    <p>Don't have an account? <a href="#">Sign Up</a></p>
</footer>
    </div>
    </body>
</html>